body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

img.avatar {
    width: 150px;
    margin-right: 10px;
}

.calendar-graph text.month {
    font-size: 10px;
    fill: #767676;
}

.calendar-graph text.wday {
    font-size: 9px;
    fill: #767676;
}

.vcard {
    width: 200px;
}

span.displayname {
    font-weight: bold;
}

span.accountname {
    font-style: italic;
    font-size:smaller;
}

.flexcontainer.wrap.column {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flexcontainer.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 300px;
    max-height: 800px;
}

.flexitem {
    width: 300px;
    height: 200px;
    background-color: silver;
    border: 1px solid black;
    margin-bottom: 20px;
}